#img-carousel {
    --img-carousel-width: 90vw;

    width: var(--img-carousel-width);
    height: 30vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
}

img {
    --img-width: 100%;
    --img-height: 200px;

    width: var(--img-width);
    height: var(--img-height);
    object-fit: cover;
}

.arrow-slide {
    position: relative;
}

.arrow {
    position: absolute;
    width: 30px;
    --arrow-height: 30px;
    height: var(--arrow-height);
    top: calc(var(--img-height) / 2 - calc(var(--arrow-height) / 2));
    z-index: 1;
}

.arrow#left {
    left: 20px;
}

.arrow#right {
    right: 20px;
}

#dot-container {
    display: flex;
    height: 20px;
    width: auto;

    position: absolute;
    bottom: 20px;
    left: calc(var(--img-carousel-width) / 2);
}

#dot-container img {
    height: 10px;
    width: auto;
}