body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightgoldenrodyellow;
}

#img-carousel {
    --img-carousel-width: 90vw;
    width: var(--img-carousel-width);
    display: grid;
    gap: 10px;
}

#controller-container {
    display: flex;
    gap: 20px;
    justify-content: start;

    margin-bottom: 20px;
}

#player, #pauser {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0px;
}

#player-icon, #pauser-icon {
    width: 30px;
    height: auto;
}

#slide-container {
    width: 80%; 
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.slide {
    --slide-width: calc(var(--img-carousel-width) / 5);

    object-fit: cover;
    border-radius: 30px;
    width: var(--slide-width);
    height: calc(var(--slide-width) * 0.8)
}

#scroll-container {
    width: var(--img-carousel-width);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.arrow {
    width: 30px;
}

#dot-container {
    display: flex;
    height: 20px;
    width: auto;
    align-items: center;
}

#dot-container img {
    height: 10px;
    width: auto;
}