#img-carousel {
    width: 90vw;
    height: 30vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}