body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightgoldenrodyellow;
}

#img-carousel {
    --img-carousel-width: 90vw;
    position: relative;
    width: var(--img-carousel-width);
}

#slide-container {
    width: 100%;
    height: 30vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.image {
    --img-width: 100%;
    --img-height: 200px;

    width: var(--img-width);
    height: var(--img-height);
    object-fit: cover;
    border-radius: 30px;
}

.arrow-slide {
    position: relative;
}

.arrow {
    position: absolute;
    width: 30px;
    --arrow-height: 30px;
    height: var(--arrow-height);
    top: calc(var(--img-height) / 2 - calc(var(--arrow-height) / 2));
    z-index: 1;
    margin-top: 10px;
}

.arrow#left {
    left: 20px;
}

.arrow#right {
    right: 20px;
}

#dot-container {
    display: flex;
    height: 20px;
    width: auto;

    position: absolute;
    bottom: 0px;
    
    left: calc(var(--img-carousel-width) / 2);
}

#dot-container img {
    height: 10px;
    width: auto;
}

#player, #pauser {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0px;
}

#player-icon, #pauser-icon {
    width: 20px;
    height: auto;
}

#controller-container {
    display: flex;
    gap: 20px;
    justify-content: start;
    margin-bottom: 20px;
}
